@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&family=Secular+One&display=swap');

.container1 {
  font-family:'Secular One';
  /* font-size: 30px; */
  /* margin: 0 auto; */
}

.container2 {
  /* margin: 0 auto; */
  /* margin-top: 200px; */
  /* padding: 0.5rem 0.5rem; */
  font-size: 45px;
  font-family:'Secular One';
  /* border: 1.5px solid #FCBC0F; */
  width: 600px;
}

.container3 {
  /* margin: 0 auto; */
  /* margin-top: 200px; */
  /* padding: 5rem 5rem; */
  font-size: 25px;
  font-family:'Secular One';
  /* border: 1.5px solid #FCBC0F; */
  width: 600px;
  color:#787878;
}
.round{
  border-radius: 100%;
}

