@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap');

.image{
  border-radius: 100%;
  /* position: relative; */
  /* z-index: 'tooltip';  */
}
.details{
  border: solid 2px #FF8303;
  border-radius: 100%;
  /* z-index: -1; */
  position: absolute;
  /* margin-left: 15px;  */
  /* margin-top: 30px; */
  /* padding: 70px; */
  padding: 15%;
  /* width: 550px; */
  width: 20%;
  /* height: 550px; */
  height: 25%;
}

.container1 {
  /* width: 170px; */
  width: 13%;
  /* height: 170px; */
  height: 11rem;
  margin-top: 1%;
  margin-left: 22%;
  border-radius: 100%;
  background-color:#FF8303;
} 

.container2 {
  /* margin: 0 auto; */
  /* margin-left: 70px; */
  margin-left: 5%;
  /* padding: 0.5rem 0.5rem; */
  /* font-size: 50px; */
  font-size: 3rem;
  font-family: 'Albert Sans', sans-serif;
  /* border: 1.5px solid #FCBC0F; */
  width: 35%;
  font-weight: 900;
  color:#787878;
  /* margin-top: 150px; */
  margin-top: 15%;
}

.container3 {
  /* margin-left: 40px; */
  /* margin-top: 170px; */
  /* margin-top: 25%; */
  /* margin-right:600rem; */
  /* margin-top: 200px; */
  /* padding: 5rem 5rem; */
  font-size: 1rem;
  font-family: 'Albert Sans', sans-serif;
  /* border: 1.5px solid #FCBC0F; */
  /* width: 400px; */
  width: 25rem;
  color:#787878;
  background-color:black;
}


