
.details{
    /* border: solid 2px #FF8303;
    border-radius: 100%;
    /* z-index: -1; */

    /* margin-left: 5px;  */
    /* margin-top: 30px; */
    /* padding: 5%;
    width: 40%;
    height: 40%;
    margin-left: 30%;
    background-color:black;
    position: absolute; */
}

.container1{
    width: 50%;
}